<div class="modal-header">
    <h5 class="modal-title">{{ 'common.actions.view' | translate }}: {{ product.id }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body card mb-3">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title my-2">{{ product.name }} ({{ product.barcode }})</h5>
                <p class="card-text text-wrap">
                    {{ product.description }}
                </p>
                <p class="card-text">
                    {{ 'product.stock' | translate }}: {{ product.stockAmount }},
                    {{ 'product.discount' | translate }}: {{ product.discountRate }}
                </p>
                <p class="card-text text-bold">{{ 'product.price' | translate }}: {{ product.price }}₸</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'common.actions.close' | translate }}</button>
</div>