<div class="modal-header">
    <h4 class="modal-title">{{ 'common.actions.view' | translate }}: {{ purchase.id }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body card mb-3">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
                <p class="card-text text-wrap">
                    {{ 'home.purchase.total' | translate }}: {{ purchase.total }}₸, {{ 'home.purchase.tax' | translate }}: {{ purchase.taxRate * 100 }}%
                </p>
                <p *ngIf="purchase.purchaseType === 'CASH'" class="card-text text-wrap">
                    {{ 'home.purchase.paid' | translate: { cash: purchase.cash, change: (purchase.cash - purchase.total) } }}
                </p>
                <p class="card-text">
                    {{ 'home.purchase.date' | translate }}: {{ purchase.purchaseDate | date }}
                </p>
                <p class="card-text">
                    {{ 'home.purchase.type' | translate }}: {{ 'home.' + purchase.purchaseType | translate }}
                </p>
                <p class="card-text text-bold">{{ 'common.cashier' | translate }}: {{ user | userShort }}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'common.actions.close' | translate }}</button>
</div>