<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ 'home.dashboard.title' | translate }}</h1>
    <select (change)="onPeriodSelected($event.target)" name="period" class="form-select mb-2 mb-md-0" style="width:auto;">
        <option value="month" selected>
            <h1 class="h2">{{ 'home.dashboard.month' | translate }}</h1>
        </option>
        <option value="week">
            <h1 class="h2">{{ 'home.dashboard.week' | translate }}</h1>
        </option>
        <option value="year">
            <h1 class="h2">{{ 'home.dashboard.year' | translate }}</h1>
        </option>
    </select>
</div>
<canvas baseChart [datasets]="barChartData" [labels]="barChartDates" [options]="barChartOptions"
    [legend]="barChartLegend" [type]="barChartType" [plugins]="barChartPlugins">
</canvas>