<h1>{{ 'common.users' | translate }}</h1>

<div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-success" (click)="openModal('create')">{{ 'user.addBtn' | translate }}</button>
    <form>
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">User search:</label>
            <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="userName" (sort)="onSort($event)">{{ 'user.name' | translate }}</th>
            <th scope="col" sortable="email" (sort)="onSort($event)">{{ 'user.email' | translate }}</th>
            <th scope="col" sortable="phoneNumber" (sort)="onSort($event)">{{ 'user.phone' | translate }}</th>
            <th scope="col" sortable="birthDate" (sort)="onSort($event)">{{ 'user.birthDate' | translate }}</th>
            <th scope="col">{{ 'common.actions.action' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users$ | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td><ngb-highlight [result]="u.userName" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="u.email" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="u.phoneNumber" [term]="filter.value"></ngb-highlight></td>
            <td>{{ u.birthDate | date: 'dd/MM/yyyy' }}</td>
            <td class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-outline-info" (click)="openModal('view', u)">{{ 'common.actions.view' | translate }}</button>
                <button class="btn btn-outline-primary" (click)="openModal('edit', u)">{{ 'common.actions.edit' | translate }}</button>
                <button class="btn btn-outline-danger" (click)="deleteUser(u.id)">{{ 'common.actions.delete' | translate }}</button>
            </td>
        </tr>
    </tbody>
</table>