<h1>{{ 'common.products' | translate }}</h1>

<div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-success" (click)="openModal('create')">{{ 'product.addBtn' | translate }}</button>
    <form>
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Product search:</label>
            <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="barcode" (sort)="onSort($event)">{{ 'product.barcode' | translate }}</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">{{ 'product.name' | translate }}</th>
            <th scope="col" sortable="description" (sort)="onSort($event)">{{ 'product.description' | translate }}</th>
            <th scope="col" sortable="price" (sort)="onSort($event)">{{ 'product.price' | translate }}</th>
            <th scope="col" sortable="stockAmount" (sort)="onSort($event)">{{ 'product.stock' | translate }}</th>
            <th scope="col" sortable="discountRate" (sort)="onSort($event)">{{ 'product.discount' | translate }}</th>
            <th scope="col">{{ 'common.actions.action' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td><ngb-highlight [result]="p.barcode" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="p.name" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="p.description" [term]="filter.value"></ngb-highlight></td>
            <td>{{ p.price | number }}₸</td>
            <td>{{ p.stockAmount | number }}</td>
            <td>{{ (p.discountRate * 100) | number }}%</td>
            <td class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-outline-info" (click)="openModal('view', p)">{{ 'common.actions.view' | translate
                    }}</button>
                <button class="btn btn-outline-primary" (click)="openModal('edit', p)">{{ 'common.actions.edit' |
                    translate }}</button>
                <button class="btn btn-outline-danger" (click)="deleteProduct(p.id)">{{ 'common.actions.delete' |
                    translate }}</button>
            </td>
        </tr>
    </tbody>
</table>