<h1>Products</h1>
<button class="btn btn-outline-success" (click)="openModal('create')">New Product</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="barcode" (sort)="onSort($event)">Barcode</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Product</th>
            <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
            <th scope="col" sortable="price" (sort)="onSort($event)">Price</th>
            <th scope="col" sortable="stockAmount" (sort)="onSort($event)">Stock Amount</th>
            <th scope="col" sortable="discountRate" (sort)="onSort($event)">Discount Rate</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products;index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ p.barcode }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.price | number }}</td>
            <td>{{ p.stockAmount | number }}</td>
            <td>{{ p.discountRate | number }}</td>
            <td>
                <button class="btn btn-info" (click)="openModal('view', p)">View</button>
                <button class="btn btn-primary" (click)="openModal('edit', p)">Edit</button>
                <button type="button" (click)="deleteProduct(p.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>