<div class="modal-header">
    <h4 class="modal-title">{{ 'common.actions.edit' | translate }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form id="editForm" [formGroup]="validateForm" class="login" (ngSubmit)="edit()">
        <div class="form-group">
            <label>{{ 'category.name' | translate }}</label>
            <input type="text" formControlName="name" class="form-control" required>
        </div>
    </form>

</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-info" form="editForm" value="{{ 'common.actions.edit' | translate }}">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'common.actions.close' | translate }}</button>
</div>